<h1><%= user.username %></h1>
<h2><a href="/user/<%= user.username %>/posts"><%= user.username %>'s Posts</a></h2>
<h2><a href="/user/<%= user.username %>/comments"><%= user.username %>'s Comments</a></h2>
